.footer {
  text-align: center;
}

li#description:first-letter {
  text-transform: capitalize;
}

.summary .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.summary .active:hover {
  text-decoration: none;
}
